spring:
  config:
    import: optional:file:.env[.properties]
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - profile
              - email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"


  datasource:
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret: ${JWT_SECRET}
  access-expiration: 900000 # 15분
  refresh-expiration: 604800000 # 7일

cloud:
  aws:
    region: ap-northeast-2
    s3:
      bucket: seoul-discord-clone-bucket

aws:
  access-key: ${AWS_ACCESS_KEY}
  secret-key: ${AWS_SECRET_KEY}

#logging:
#  level:
#    org.springframework.security: DEBUG
file:
  upload-dir: uploads/chat

toss:
  base-url: https://api.tosspayments.com
  secret-key: ${TOSS_SECRET_KEY}
  timeout-ms: 5000