#spring.application.name=discord

spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret: ${JWT_SECRET}
  access-expiration: 120000
  refresh-expiration: 604800000 # 7Ïùº

#logging:
#  level:
#    org.springframework.security: DEBUG